<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=email], input[type=password], select {
            width: 50%;
            padding: 3px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        form {
            margin-left: 360px;
        }
        h1, h4{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title>Form Signup</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <h1>Register</h1>
    <br>
    <% if (errors) { %>
        <% for (let i = 0; i < errors.length; i++) { %>
            <h4><%= errors[i] %></h4>
        <% } %>
    <% } %>
    <br>
    <form action="/signup" method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="12 Angry Men" minlength="3"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Il0p3Y0u" minlength="4"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="exampe@exampe.com" minlength="3"><br>
        <label for="money">Money</label><br>
        <input type="text" name="money" placeholder="999999999" minlength="4"><br>
        <input type="submit" value="Save" class="btn btn-info">
        <a href="/" class="btn btn-danger">Cancel</a>
    </form>
    <%- include ('./partials/bootstrap-js.ejs') %>
</body>
</html>