<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=email], input[type=password], select {
            width: 50%;
            padding: 3px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        form {
            margin-left: 360px;
        }
        h3 {
            margin-left: 50px;
        }
        h1, h4{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        img.rounded:hover {
            box-shadow: 0px 0px 15px grey;
        }
    </style>
    <script src="./partials/qrcode.js"></script>
    <title>Store</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <br>
    <h1>Here is your Order</h1>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center">
                <img src="http://api.qrserver.com/v1/create-qr-code/?data=<%= data[0].orderKey %>&size-200x200" class="rounded" id="Starbuck" style="height: 200px; width: 200px;">
            </div>
          </div>
        </div>
    </div>
    <br>
    <br>
    <h4>Please wait a moment</h4>
    <%- include ('./partials/bootstrap-js.ejs') %>
    <script>
        function myFunction() {
            setInterval(function(){ return 'Your Coffee has been made, thank you' }, 3000);
        }
    </script>
</body>
</html>