<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=email], input[type=password], select {
            width: 50%;
            padding: 3px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        form {
            margin-left: 360px;
        }
        h1, h4{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title>Menu</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <br>
    <h1>MENU</h1>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center">
                <h3>Espresso</h3>
                <img src="https://i.imgur.com/dW202yH.jpg" class="rounded" alt="Fore" style="height: 200px; width: 200px;">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <br>
                <br>
                <br>
                <br>
                <p>100% Arabica, blended and roasted to perfection. We went through rigorous testing and adjustment to deliver you the finest specialty pull of espresso</p>
            </div>
          </div>
        </div>
    </div>
    <br>
    <div class="container" style="background-color: #dddddd">
        <div class="row">
          <div class="col">
            <div class="text-center">
                <h3>Coffee Latte</h3>
                <img src="https://i.imgur.com/dW202yH.jpg" class="rounded" alt="Fore" style="height: 200px; width: 200px;">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <br>
                <br>
                <br>
                <br>
                <p>Warm and perfectly frothed milk poured with delicate care on top of our specialty espresso for you to enjoy our best creamy smooth latte</p>
            </div>
          </div>
        </div>
        <br>
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center">
                <h3>Coffee Mix</h3>
                <img src="https://i.imgur.com/dW202yH.jpg" class="rounded" alt="Fore" style="height: 200px; width: 200px;">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <br>
                <br>
                <br>
                <br>
                <p>Barista Choice – specialty latte completed with high-quality pandan essence. Through meticulous tasting and recipe, we aim for the perfect harmony between the sweetness of pandan, smoothness of milk, and boldness of coffee</p>
            </div>
          </div>
        </div>
    </div>
    <br>
    <div class="container" style="background-color: #dddddd">
        <div class="row">
          <div class="col">
            <div class="text-center">
                <h3>Strawberry Coffee</h3>
                <img src="https://i.imgur.com/dW202yH.jpg" class="rounded" alt="Fore" style="height: 200px; width: 200px;">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <br>
                <br>
                <br>
                <br>
                <p>The most favourite menu in store. Perfect mix of top notch local coffee, milk and natural strawberry to boost your daily activity.</p>
            </div>
          </div>
        </div>
        <br>
    </div>
    <%- include ('./partials/bootstrap-js.ejs') %>
</body>
</html>