<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=email], input[type=password], select {
            width: 50%;
            padding: 3px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        form {
            margin-left: 360px;
        }
        h1{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        img.rounded:hover {
            box-shadow: 0px 0px 15px grey;
        }
    </style>
    <title>Profile</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <br>
    <h1>PROFILE</h1>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-center">
                <img src="https://i.imgur.com/meCPC99.jpg" class="rounded" alt="Fore" style="height: 200px; width: 200px;">
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <h3>Username</h3>
                <h4>xavier</h4>
                <h3>Email</h3>
                <h4>xavier@hacktiv.com</h4>
            </div>
          </div>
          <div class="col">
            <div class="text-center">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">Money</button>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">CoffeePay</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Rp. 891829301
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="/profile/topup/1"><button type="button" class="btn btn-primary">TopUp</button></a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <%- include ('./partials/bootstrap-js.ejs') %>
</body>
</html>