<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/bootstrap-css.ejs') %>
    <style>
        input[type=text], input[type=email], input[type=password], select {
            width: 50%;
            padding: 3px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        form {
            margin-left: 360px;
        }
        h3 {
            margin-left: 50px;
        }
        h1, h4{
            text-align: center;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title>Recommended</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <br>
    <h1>Coffee Of The Month</h1>
    <br>
    <%- include ('./partials/bootstrap-js.ejs') %>
</body>
</html>